.styles{
    display:flex ;
    background-image: linear-gradient( yellow,rgb(184, 180, 158));
    position: fixed;
    top: 10px;
    width: 100%;
    right: -100%;
    transition: all 5.8s ease;
    
    justify-content: center;
    align-items: center;
    
    
}

.btn{
    width: 100px;
    height: 100px;
}
body{
    background-image: url(./kali-linux-wallpaper-v6.png);
}
.todo{
    display: flex;
flex-wrap: wrap;
justify-content: center;
color: aliceblue;

}
.wrap{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}
